@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*@Scripts.Render("~/wwwroot/lib/jquery-validation/dist/jquery.validate.js")*@
<!DOCTYPE html>
<html>
    <head>
        <title> Test </title>
       
    </head>
    <body>

    </body>
</html>